.botaoaddlivros {
  text-align: center;
  cursor: pointer;
}

.botaoaddlivros button{
  border: none;
  background-color: lime;
  font-size: 25px;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  width: 300px;
  height: 30px;
  transition: 0.5s;
  padding: 2px;
  margin: 0 0 10px;
}

.botaoaddlivros button:hover {
  color: white;
  background-color: green;
}
