.livro {
    margin: auto;
    width: 1000px;
    height: auto;
    padding: 15px;
    background-color: #0cbccc4d;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}


.livro hr {
    margin: 10px 0;
}

.descricao label{
    font-size: 35px;
    text-align: left;
    font-weight: bold;
}
.descricao p{
    text-align: center;
    font-size: 30px;
}

.descricaosinopse p{
    font-size: 25px;
    text-align: justify;
    padding: 0 20px 0 20px;
}


.capa {
   margin: 30px;
    width: auto;
    height: 250px;
    border-radius: 5px;
    box-shadow: 5px 10px;
}


.titulo {
    margin: 10px 0;
    text-transform: uppercase;
}


.botoesID{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.botaoID1{

    padding: 10px;
    font-size: 20px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.botaoID1:hover{
    color: black;
    background-color: white;
}

.botaoID2 {
    padding: 10px;
    font-size: 20px;
    background-color:yellow;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.botaoID2:hover{
    color: white;
    background-color: yellowgreen;
}

.botaoID3 {
    padding: 10px;
    font-size: 20px;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.botaoID3:hover{
    color: white;
    background-color: black;
}