* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: white;
  color: black; /*provisorio */
}

/* ============================== NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: #0cbccc;
  height: 125px;
  width: 100%;
}

nav input{
  font-weight: bold;
  height: 30px;
  padding: 10px;
  border: none;
}

.reactlibmarca {
  text-align: center;
  color: white;
}

nav button {
  height: 30px;
  width: 30px;
  color: #0cbccc;
  background-color: white;
  border: none;
  transition: 1s;
}

nav button:hover{
  background-color: blue;
}

.reactlibmarca h2 {
  font-size: 26px;
}

.navbaropcoes ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}

.navbaropcoes li {
  padding: 0 20px;
  font-size: 25px;
  color: white;
  transition: 1s;
}

nav a {
  text-decoration: none;
}

nav li:hover {
  color: blue;
}

/* =================================== FOOTER */
footer {
  color: white;
  background-color: #0cbccc;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  display: grid;
  grid-template-areas: 
  "atent loc contat"
  "links redeSocial uni"
  "logo logo logo";
  align-items: center;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: white;
}

.reactlibmarcafooter{
  text-align: center;
  margin: 5px;
}

/* ================================== Botões na rota livro */
.botoeslivros{
display: flex;
justify-content: space-evenly;
align-items: center;
cursor: pointer;
}

#botaoamarelo{
  border: none;
  cursor: pointer;
  background-color: yellow;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  width: 350px;
  height: 30px;
  transition: 0.5s;
}

#botaoamarelo:hover{
  color: white;
  background-color: green;
}

#botaovermelho{
  border: none;
  cursor: pointer;
  background-color: red;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  width: 350px;
  height: 30px;
  transition: 0.5s;
}

#botaovermelho:hover{
  color: white;
  background-color: black;
}

/* ======================================================== Rota de Adicionar */
.addlivro h2{
  text-align: center;
  font-size: 70px;
}

.addlivroinput{
  text-align: center;
}

.addlivroinput label{
  font-size: 40px;
}

.addlivroinput input{
  width: 600px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.addlivroinput select{
  width: 600px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.addlivrosbotoes{
  text-align: center;
}

#addbutton1{
  background-color: red;
  border: none;
  width: 300px;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}

#addbutton1:hover{
  color: white;
  background-color: black;
}

#addbutton2{
  background-color: green;
  border: none;
  width: 300px;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}

#addbutton2:hover{
  color: white;
  background-color: greenyellow;
}

/* ========================================== Rota de editar */
.editlivro h2{
  text-align: center;
  font-size: 70px;
}

/* ========================================== Rota de remover */
.removelivro h2{
  text-align: center;
  font-size: 70px;
}

/* =============================================== Rota do Sobre nós */
.sobrenos{
  text-align: center;  
  font-size: 30px;
  padding: 15px 100px 0 100px;
  text-align: justify;
}

.sobrenos h2{
  text-align: center; 
  font-size: 50px;
}

.sobrenos2{
  padding: 12.1px;
}

